In [1]:
import numpy as np
import pandas as pd
import json
import runProcs
from urllib.request import urlopen
import os

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

In [2]:
# 0. Import BEA API key or set manually to variable api_key
try:
    items = os.getcwd().split('/')[:3]
    items.append('bea_api_key.txt')
    path = '/'.join(items)
    with open(path,'r') as api_key_file:
        api_key = api_key_file.readline()

except:
    api_key = None

In [3]:
# 1. State abbreviations

# 1.1 dictionary:
stateAbbr = {
u'Alabama':u'AL',
u'Alaska *':u'AK',
u'Arizona':u'AZ',
u'Arkansas':u'AR',
u'California':u'CA',
u'Colorado':u'CO',
u'Connecticut':u'CT',
u'Delaware':u'DE',
u'District of Columbia':u'DC',
u'Florida':u'FL',
u'Georgia':u'GA',
u'Hawaii *':u'HI',
u'Idaho':u'ID',
u'Illinois':u'IL',
u'Indiana':u'IN',
u'Iowa':u'IA',
u'Kansas':u'KS',
u'Kentucky':u'KY',
u'Louisiana':u'LA',
u'Maine':u'ME',
u'Maryland':u'MD',
u'Massachusetts':u'MA',
u'Michigan':u'MI',
u'Minnesota':u'MN',
u'Mississippi':u'MS',
u'Missouri':u'MO',
u'Montana':u'MT',
u'Nebraska':u'NE',
u'Nevada':u'NV',
u'New Hampshire':u'NH',
u'New Jersey':u'NJ',
u'New Mexico':u'NM',
u'New York':u'NY',
u'North Carolina':u'NC',
u'North Dakota':u'ND',
u'Ohio':u'OH',
u'Oklahoma':u'OK',
u'Oregon':u'OR',
u'Pennsylvania':u'PA',
u'Rhode Island':u'RI',
u'South Carolina':u'SC',
u'South Dakota':u'SD',
u'Tennessee':u'TN',
u'Texas':u'TX',
u'Utah':u'UT',
u'Vermont':u'VT',
u'Virginia':u'VA',
u'Washington':u'WA',
u'West Virginia':u'WV',
u'Wisconsin':u'WI',
u'Wyoming':u'WY'
}

# 1.2 List of states in the US
stateList = [s for s in stateAbbr]

In [4]:
# 2. Construct series for price deflator

# 2.1 Obtain data from BEA
gdp_deflator = urlopen('http://apps.bea.gov/api/data/?UserID='+api_key+'&method=GetData&datasetname=NIPA&TableName=T10109&TableID=13&Frequency=A&Year=X&ResultFormat=JSON&')
# result = gdp_deflator.readall().decode('utf-8')
result = gdp_deflator.read().decode('utf-8')
json_response = json.loads(result)

In [5]:
# 2.2 Construct the data frame for the deflator series
values = []
years = []
for element in json_response['BEAAPI']['Results']['Data']:
#     if element['LineDescription'] == 'Personal consumption expenditures':
    if element['LineDescription'] == 'Gross domestic product':
        years.append(element['TimePeriod'])
        values.append(float(element['DataValue'])/100)

values = np.array([values]).T
data_p = pd.DataFrame(values,index = years,columns = ['price level'])

# 2.3 Display the data
print(data_p)

      price level
1929      0.09424
1930      0.09079
1931      0.08146
1932      0.07193
1933      0.06993
...           ...
2016      1.05722
2017      1.07710
2018      1.10296
2019      1.12265
2020      1.13626

[92 rows x 1 columns]

In [6]:
# 3. Construct series for per capita income by state, region, and the entire us

# 3.1 Obtain data from BEA
state_y_pc = urlopen('http://apps.bea.gov/api/data/?UserID='+api_key+'&method=GetData&DataSetName=Regional&TableName=SAINC1&LineCode=3&Year=ALL&GeoFips=STATE&ResultFormat=JSON')
# result = state_y_pc.readall().decode('utf-8')
result = state_y_pc.read().decode('utf-8')
json_response = json.loads(result)
# json_response['BEAAPI']['Results']['Data'][0]['GeoName']

In [7]:
# 3.2 Construct the data frame for the per capita income series

# 3.2.1 Initialize the dataframe
regions = []
years = []
for element in json_response['BEAAPI']['Results']['Data']:
    if element['GeoName'] not in regions:
        regions.append(element['GeoName'])
    if element['TimePeriod'] not in years:
        years.append(element['TimePeriod'])

df = np.zeros([len(years),len(regions)])
data_y = pd.DataFrame(df,index = years,columns = regions)

# 3.2.2 Populate the dataframe with values
for element in json_response['BEAAPI']['Results']['Data']:
    try:
        data_y[element['GeoName']][element['TimePeriod']] = np.round(float(element[u'DataValue'].replace(',',''))/float(data_p.loc[element['TimePeriod']]),2)# real
    except:
        data_y[element['GeoName']][element['TimePeriod']] = np.nan
        
# 3.2.3 Replace the state names in the index with abbreviations
columns=[]
for r in regions:
    if r in stateList:
        columns.append(stateAbbr[r])
    else:
        columns.append(r)
        
data_y.columns=columns

# 3.2.4 Display the data obtained from the BEA
data_y

,United States,AL,AK,AZ,AR,CA,CO,CT,DE,DC,...,WI,WY,New England,Mideast,Great Lakes,Plains,Southeast,Southwest,Rocky Mountain,Far West
1929,7417.23,3384.97,NaN,6345.50,3215.20,10547.54,6695.67,10918.93,10940.15,14049.24,...,7109.51,7130.73,9295.42,10314.09,8446.52,6005.94,3851.87,4987.27,6250.00,9603.14
1930,6839.96,2896.79,NaN,5705.47,2467.23,9791.83,6322.28,10210.38,9450.38,14472.96,...,6443.44,6410.40,8877.63,9802.84,7467.78,5551.27,3414.47,4383.74,5859.68,8943.72
1931,6481.71,2700.71,NaN,5278.66,2541.12,9243.80,5794.25,9906.70,9526.15,15381.78,...,5757.43,5855.63,8814.14,9391.11,6935.92,5119.08,3326.79,4087.90,5155.90,8384.48
1932,5588.77,2210.48,NaN,4476.57,2113.17,8119.00,4963.16,8716.81,8216.32,15389.96,...,5032.67,5213.40,7979.98,8244.13,5699.99,4351.45,2822.19,3475.60,4587.79,7312.67
1933,5362.51,2345.20,NaN,4418.70,2187.90,7865.01,5047.91,8451.31,8093.81,13513.51,...,4776.20,5319.61,7650.51,7793.51,5405.41,3975.40,2945.80,3517.80,4490.20,7078.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,46852.54,37172.16,55087.74,37962.61,37766.67,53365.38,49944.56,65346.38,45894.82,72122.08,...,44788.00,54308.76,57886.34,54497.06,44236.50,45756.23,41121.54,42761.70,44988.72,51672.66
2016,47308.03,37396.19,53254.76,38592.72,38199.24,54906.26,49634.89,66134.77,46192.85,73615.71,...,45021.85,51236.26,58921.51,55666.75,44591.48,45666.94,41463.46,41836.14,44975.50,53011.67
2017,48387.34,38093.03,53285.67,39541.36,38675.15,56214.84,51623.80,66604.77,47161.82,73550.27,...,45737.63,52477.95,59928.51,57254.67,45252.07,46057.93,42388.82,43200.26,46412.59,54305.08
2018,49508.60,38723.07,54720.93,40433.92,39280.66,57771.81,53398.13,67867.38,47989.05,73659.06,...,46808.59,55023.75,61205.30,58335.75,46214.73,47036.16,43260.86,44466.71,47994.49,55864.22
2019,50318.44,39322.14,55944.42,41026.14,39753.26,59340.85,54475.57,68845.14,48532.49,74293.86,...,47411.93,55394.82,62133.35,59551.06,46732.29,47663.12,43788.36,45134.28,48878.10,57218.19

In [8]:
# 4. State income data for 1840, 1880, and 1900

# 4.1.1 Import Easterlin's income data
easterlin_data = pd.read_csv('../historic_data/Historical Statistics of the US - Easterlin State Income Data.csv',index_col=0)

# 4.1.2 Import historic CPI data
historic_cpi_data=pd.read_csv('../historic_data/Historical Statistics of the US - cpi.csv',index_col=0)
historic_cpi_data = historic_cpi_data/historic_cpi_data.loc[1929]*float(data_p.loc['1929'])

In [9]:
# 4.2 Append to data beginning in 1929

# 4.2.1 Construct series for real incomes in 1840, 1880, and 1900
df_1840 = easterlin_data['Income per capita - 1840 - A [cur dollars]']/float(historic_cpi_data.loc[1840])
df_1880 = easterlin_data['Income per capita - 1880 [cur dollars]']/float(historic_cpi_data.loc[1890])
df_1900 = easterlin_data['Income per capita - 1900 [cur dollars]']/float(historic_cpi_data.loc[1900])

# 4.2.2 Put into a DataFrame and concatenate with previous
df = pd.DataFrame({'1840':df_1840,'1880':df_1880,'1900':df_1900}).transpose()
df = pd.concat([data_y,df]).sort_index()

In [10]:
# 5. Export data to csv
series = df.sort_index()
dropCols = [u'AK', u'HI', u'New England', u'Mideast', u'Great Lakes', u'Plains', u'Southeast', u'Southwest', u'Rocky Mountain', u'Far West']
for c in dropCols:
    series = series.drop([c],axis=1)

series.to_csv('../csv/state_income_data.csv',na_rep='NaN')

In [11]:
# 6. Export notebook to .py
runProcs.exportNb('state_income_data')